* {
    width: 100%;
}

body {
    display: grid;
    justify-content: center;
}

header {
    width: 750px;
    height: 100px;
    background-color: rgb(128, 56, 128);
}

#container {
    width: 750px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#MenuLeft {
    height: 150px;
    background-color: #5181a9;
}

main {
    height: 450px;
    background-color: #ff6347;
}

#MenuRight {
    height: 150px;
    background-color: #5181a9;
}
